@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

#orderstatus {
  background-color: #e5674e;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

#title-orderstatus {
  font-family: "PT Serif", serif;
  font-size: 36px;
}

#ok {
  background-color: white;
  color: #2f2926;
  border-radius: 25px;
  border: none;
  padding: 12px 70px;
  margin-top: 20px;
  font-family: "PT Serif", serif;
  font-size: 24px;
  cursor: pointer;
}
