@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

#profile {
  background-color: #2f2926;
  color: #f3e4e1;
}

#text-profile {
  font-family: "PT Serif", serif;
  font-size: 22px;
  text-align: left;
  margin-left: 20px;
}
